

html {
    font-family: "Muli", sans-serif;
}

body {
    max-width: 100%;
    width: 200rem;
    background-color: #fffffb;
    /* Center horizontally */
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
div,
pre,
td {
    color: #313638;
    /* Bold headers are unnecessary */
    font-weight: normal;
}

a {
    color: #888;
}

h2 {
    margin-top: 2rem;
}

pre {
    padding: 0.5rem;
    background-color: #fbf1e8;
}

button {
    float: right;
    padding: 0.3rem 0.5rem;
}

input {
    border-radius: 13px;
    border-width: 2px;
    border-style: solid;
    border-color: #EDCCD8;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.flash {
    animation-name: flash;
    animation-duration: 0.5s;
}

@keyframes flash {
    from {
        background-color: #c9fb7e;
    }

    to {
        background-color: #fbf1e8;
    }
}

.App {
    font-family: sans-serif;
    text-align: center;
}

.table-drag-select {
    background-color: #ddd;
    /* Stretch horizontally to fill parent */
    width: 100%;
    /* Keep columns same width */
    table-layout: fixed;
    /* Disable text selection */
    user-select: none;
    /* Center in parent */
    margin-left: auto;
    margin-right: auto;
    /* Remove space between border */
    border-collapse: collapse;
}

    /* Table cells */
.table-drag-select td {
    height: 1em;
    text-align: center;
    /* Cut off long strings of text with ... */
    text-overflow: ellipsis;
    overflow: hidden;
    /* Make transparent gaps between cells. Better than relying on margin
    * because clicking an element's margin doesn't trigger events */
    /* border: 0.7rem solid transparent; */
    /* border-radius: 5px; */
    background-clip: padding-box;
    /* Make cells reasonable size */
    line-height: 1rem;
    /* Shows more text when text too big to fit into cell */
    padding-left: 0rem;
    padding-right: 0rem;
}


/* Cells that can be interacted with */
.table-drag-select td.cell-enabled {
    background-color: #ddd;
    border-top: 0.1px solid;
    border-bottom: 0.1px solid;
    /* Make the cursor a + symbol */
    /* cursor: cell; */
}

/* Cells that cannot be interacted with */
.table-drag-select td.cell-disabled {
    /* Put yer css here */
    background-color: rgb(255, 255, 255);
}

/* Cells that have been selected */
.table-drag-select td.cell-selected {
    background-color: #ff69b4;
    border-top: 0.1px solid;
    border-bottom: 0.1px solid;
}

/* For group table */
.table-drag-select td.cell-selected-0 {
    background-color: rgba(255, 105, 180, 0.0);
}

.table-drag-select td.cell-selected-10 {
    background-color: rgba(255, 105, 180, 0.1);
}

.table-drag-select td.cell-selected-20 {
    background-color: rgba(255, 105, 180, 0.2);
}

.table-drag-select td.cell-selected-30 {
    background-color: rgba(255, 105, 180, 0.3);
}

.table-drag-select td.cell-selected-40 {
    background-color: rgba(255, 105, 180, 0.4);
}

.table-drag-select td.cell-selected-50 {
    background-color: rgba(255, 105, 180, 0.5);
}

.table-drag-select td.cell-selected-60 {
    background-color: rgba(255, 105, 180, 0.6);
}

.table-drag-select td.cell-selected-70 {
    background-color: rgba(255, 105, 180, 0.7);
}

.table-drag-select td.cell-selected-80 {
    background-color: rgba(255, 105, 180, 0.8);
}

.table-drag-select td.cell-selected-90 {
    background-color: rgba(255, 105, 180, 0.9);
}

.table-drag-select td.cell-selected-100 {
    background-color: rgba(255, 105, 180, 1);
}

.table-drag-select td.cell-selected-group {
    border-top: 0.2px solid;
    border-bottom: 0.2px solid;
    border-left: 0.2px solid;
    border-right: 0.2px solid;
    border-color: white;
}

/* Cells that are in the process of being selected */
.table-drag-select td.cell-being-selected {
    background-color: #FFB4D9;
    border-top: 0.1px solid;
    border-bottom: 0.1px solid;
}
.table-drag-select td.date {
    border-left: 0.1px solid grey;
    border-right: 0.2px solid grey;
}
.bottom {
    position: fixed;
}
.add-group {
    background-color: #F4F4F4;
    border-color: #EDCCD8;
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 15px;
    text-align: center;
    width: 80%;
}

.add-group h2 {
    margin-top: 1rem;
}

.add-group form {
    display: flex;
    justify-content: space-around;
}

.group-around {
    margin-top: 15px;
}

.group {
    background-color: #BA7B92;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 80%;
}

.event {
    background-color: #689f38;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 80%;
}

.groupMember {
    background-color: #a87bba;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    width: 80%;
}

.event .text {
    width: 100%;
}

.event p {
    color: #FFFF;
}

.group .text {
    width: 100%;
}

.group p {
    color: #FFFF;
}

#groupNameInput {
    color: #313638;
    /* Bold headers are unnecessary */
    font-weight: normal;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    width: 60%;
    max-width: 400px;
    text-align: center;
}

.groupName {
    padding: 0.2em;
}

#groupNameEdit {
    top: -50px;
}