################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MeeTBD-website/FileContentIndex
/.vs/MeeTBD-website/FileContentIndex/4443ca2a-53f7-4b2d-8cbb-437b4fb77d89.vsidx
/.vs/MeeTBD-website/FileContentIndex/5e779735-facd-40bf-95de-28de81d9a0c1.vsidx
/.vs/MeeTBD-website/FileContentIndex/66d73534-0f9d-4ae1-a2af-9e53a22660dc.vsidx
/.vs/MeeTBD-website/FileContentIndex/ccd66f1f-df76-49ed-970e-2f8229aaef8d.vsidx
/.vs/MeeTBD-website/FileContentIndex/ff11a133-c541-41c3-a963-9cdec900ca52.vsidx
/.vs/slnx.sqlite
